---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import ArtistsSection from "../sections/index/ArtistsSection.astro";
import BookingSection from "../sections/index/BookingSection.astro";
import EventsSection from "../sections/index/EventsSection.astro";
import HeroSection from "../sections/index/HeroSection.astro";
---

<DefaultLayout title="Onlybass">
  <main>
    <HeroSection />
    <EventsSection />
    <ArtistsSection />
    <BookingSection />
  </main>
</DefaultLayout>
