---
import { Image } from "astro:assets";
import MarginContainer from "../../components/atoms/MarginContainer.astro";

import srajmusc from "../../media/artists/srajmusc.jpg";
import motrick from "../../media/artists/motrick.jpg";
import lamou from "../../media/artists/lamou.jpg";
---

<section id="artists" class="py-20">
  <MarginContainer>
    <h2 class="text-4xl font-thin uppercase text-white">Artists</h2>
    <div class="mt-8 flex flex-wrap justify-between gap-14">
      <div class="m-auto w-[22rem]">
        <Image
          src={srajmusc}
          alt="sraj.musc"
          class="h-[30rem] w-full object-cover"
        />
        <div class="mt-4 flex items-end justify-between">
          <p class="text-4xl font-bold text-white">sraj.musc</p>
          <p class="text-lg font-light text-white/60">Techno // Trance</p>
        </div>
      </div>
      <div class="m-auto w-[22rem]">
        <Image
          src={motrick}
          alt="Motrick"
          class="h-[30rem] w-full object-cover"
        />
        <div class="mt-4 flex items-end justify-between">
          <p class="text-4xl font-bold text-white">Motrick</p>
          <p class="text-lg font-light text-white/60">Techno // Tekno</p>
        </div>
      </div>
      <div class="m-auto w-[22rem]">
        <Image src={lamou} alt="Lamou" class="h-[30rem] w-full object-cover" />
        <div class="mt-4 flex items-end justify-between">
          <p class="text-4xl font-bold text-white">Lamou</p>
          <p class="text-lg font-light text-white/60">Tekno</p>
        </div>
      </div>
    </div>
  </MarginContainer>
</section>
