---
import MarginContainer from "../../components/atoms/MarginContainer.astro";
---

<section id="events" class="py-20">
  <MarginContainer>
    <h2 class="text-4xl font-thin uppercase text-white">Events</h2>
    <p class="mt-2 text-lg text-white">Coming soon...</p>
  </MarginContainer>
</section>
