---
import MarginContainer from "../atoms/MarginContainer.astro";
---

<footer class="pb-3 pt-10">
  <MarginContainer>
    <div class="flex justify-between">
      <p class="text-white">&copy; 2024 Onlybass</p>
      <a href="/imprint/" class="text-white">Imprint</a>
    </div>
  </MarginContainer>
</footer>
